
/* Global style */
html, body {
	margin: 0;
	padding: 0;
}
body {
	background-color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.2em;
	color: #444;
	padding: 30px;
}
input {
	line-height: 1.4em;
	padding: 3px 6px;
}
h1 {
	margin-top: 0;
	font-size: 2.2em;
	line-height: 1.2em;
	margin-bottom: 0;
	color: #222;
}
h2 {
	font-size: 1.4em;
	line-height: 1.2em;
}
h3 {
	margin-top: 0;
	font-size: 1.5em;
	line-height: 1.2em;
}
h4 {
	margin-bottom: 0.2em;
}

.text-center {
	text-align: center;
}
.datepicker-demo-block {
	text-align: left;
	width: 720px;
	padding: 30px;
	background-color: #f9f9f9;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.02);
	margin: 30px auto 0;
}

/* Overwrite SyntaxHighlighter */
.syntaxhighlighter {
	margin: 0 !important;
	padding: 10px 0;
	max-height: 400px;
}

/* Fullscreen Datepicker */
#rendez-vous-fullscreen .rendezvous-popup {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(30, 30, 30, 0.4);
}
#rendez-vous-fullscreen .rendezvous-datepicker {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 21em;
	font-size: 1.3em;
	margin-left: -11em;
	margin-top: -8em;
}

/* Custom date format Datepicker */
#rendez-vous-format .rendezvous-input input {
    width: 180px;
}

/* Input split Datepicker */
#rendez-vous-split .rendezvous-input input {
	width: 60px;
}

/* Always open Datepicker */
#rendez-vous-open .rendezvous-popup {
	position: inherit;
}

.dateframes{
	float:left;
	border:10px solid;
	padding-bottom:20px;
}
.tabletop{
	width:400px;
	height:300px;
	background:url('desktop.jpg');
	margin-top: 282px;width: 573px;height: 466px;
}

.wrap {
	perspective: 800px;
	perspective-origin: 50% 100px;
}

.cube {
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
}

.cube div {
	position: absolute;
	width: 200px;
	height: 200px;
}
.back {
	transform: translateZ(-100px) rotateY(180deg);
}
.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
}
.front {
	transform: translateZ(100px);
}












